<!-- Sidebar Contents -->
<nav class="sidebar">
  <div class="sidebar-header">
    <img src="/src/imgs/logo.png" alt="Personal Logo">
    <button class="sidebar-toggle d-lg-none">
      <i class="bi bi-list"></i>
    </button>
  </div>

  <div class="sidebar-links">
    <a href="../../index.html">Home</a>
    <a href="/src/page/education.html">Education</a>
    <a href="/src/page/experience.html">Experience</a>
    <a href="/src/page/skills.html">Skills</a>
    <a href="/src/page/certificates.html">Certificates</a>
    <a href="/src/page/advocacy.html">Advocacy</a>
    <a href="/src/page/portfolio.html">Portfolio</a>
  </div>
</nav>
